.HomePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HomePage-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 32px 0px;
}

.HomePage span {
  margin-top: 32px;
  font-size: 14px;
}

.HomePage-primary-link {
  margin-top: 32px;
}
